---
import { Image } from "astro:assets";
import apps from "../assets/apps.svg";
import calculator from "../assets/calculator.svg";
import docs from "../assets/docs.svg";
import folder from "../assets/folder.svg";
import snake from "../assets/snake.svg";
import firefox from "../assets/firefox.svg";


---

<footer>
  <nav>
    <button id="btn-show-apps">
      <Image src={apps} alt="apps" width={36} />
    </button>

    <ul>
      <li>
        <button id="btn-Folder"
          ><Image src={folder} alt="apps" width={36} /></button
        >
      </li>
      <li>
        <button id="btn-Calculator"
          ><Image src={calculator} alt="apps" width={36} /></button
        >
      </li>
      <li>
        <button id="btn-Docs"><Image src={docs} alt="apps" width={36} /></button
        >
      </li>
      <li>
        <button id="btn-Snake"
          ><Image src={snake} alt="apps" width={36} /></button
        >
      </li>
      <li>
        <button id="btn-Firefox"
          ><Image src={firefox} alt="apps" width={36} /></button
        >
      </li>
    </ul>
  </nav>
</footer>

<style>
  footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateY(60px);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 0.3rem;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: var(--bg-black);
    transition: all.5s ease;
  }
  ul {
    display: flex;
    gap: 0.3rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    padding: 0.6rem;
    transition: all 0.3s ease;
    background-color: transparent;
  }
  nav:hover {
    transform: translateY(-65px);
  }
  button:hover {
    background-color: var(--bg-gray-dark);
  }
</style>
